
HW4/ag/.DS_Store
HW4/ag/dev.npz
HW4/ag/helper_code.py
HW4/ag/README.md
HW4/ag/reference/ref.npz
HW4/ag/reference/ref.vocab.json
HW4/ag/test.py
HW4/ag/train.npz
HW4/ag/vocabulary.json
HW4/data/.DS_Store
HW4/data/cifar-10-batches-py/batches.meta
HW4/data/cifar-10-batches-py/data_batch_1
HW4/data/cifar-10-batches-py/data_batch_2
HW4/data/cifar-10-batches-py/data_batch_3
HW4/data/cifar-10-batches-py/data_batch_4
HW4/data/cifar-10-batches-py/data_batch_5
HW4/data/cifar-10-batches-py/readme.html
HW4/data/cifar-10-batches-py/test_batch
HW4/data/cifar-10-python.tar.gz
HW4/model_a.pck
